.header {
  border-bottom: 1px solid var(--border-color);
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.12;
  color: var(--main-dark-color);
  letter-spacing: 0.03em;
  display: block;
}

.menu {
  margin-left: 95px;
}

.menu-list {
  display: flex;
  align-items: center;
}

.menu-link {
  transition-property: color;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-dark-color);
  /* outline: 1px solid red; */
}

.menu-link:hover,
.menu-link:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-phone:hover,
.footer-phone:focus {
  color: var(--accent-color);
}

.menu-link.сurrent::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contact-mail {
  margin-right: 30px;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--main-light-color);
  background-color: var(--accent-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.mail-ref,
.phone-ref {
  transition-property: color;
  transition-duration: var(--timing-duration);
  transition-timing-function: var(--timing-function);
  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.mail-ref {
  display: flex;
  justify-content: center;
}

.mail-ref:hover,
.mail-ref:focus {
  color: var(--accent-color);
}

.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  order: -1;
  align-self: center;
  fill: currentColor;
}

.phone-ref {
  display: flex;
  align-items: center;
}

.phone-ref:hover,
.phone-ref:focus {
  color: var(--accent-color);
}

.phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  order: -1;
  fill: currentColor;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-link,
.mail-ref,
.phone-ref,
.logo {
  text-decoration: none;
  font-style: normal;
}

.accent {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.nav {
  display: flex;
  align-items: center;
}
