.hero-title {
  font-weight: 900;
  width: 700px;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.content-title {
  color: var(--secondary-dark-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-title,
.team-title {
  font-family: inherit;
  color: var(--secondary-dark-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.job-title {
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.clients-title {
  color: var(--secondary-dark-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.card-title {
  padding: 20px 24px;
  border-left: 1px solid var(--sec-border-color);
  border-right: 1px solid var(--sec-border-color);
  border-bottom: 1px solid var(--sec-border-color);
}

.social-footer-title {
  color: var(--main-light-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.form-title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-dark-color);
  margin-bottom: 12px;
  user-select: none;
}

.comment-title {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.agreement-title {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
  user-select: none;
}
